@import '../styles/master';

.post-page {

	.post {
		.post__title {
			color: $main-hi-color;
			margin-bottom: 0;
		}
		.post__date {
			color: $main-hi-color;
			font-style: italic;
		}
		.post__tags {
			color: $main-hi-color;
			list-style-type: none;
			margin: 0;
			margin-bottom: 1rem;

			li {
				border: 1px $main-hi-color solid;
				border-radius: 10%;
				display: inline-block;
				margin-right: 1rem;
				padding: 0 0.5rem;
			}

			a {
				color: inherit;
				&:active, &:hover {
					color: white;
				}
			}
		}
	}
}