@import '../styles/master';

.project-page {

	.project {
		.project__title {
			margin-bottom: 0;
			text-align: right;
		}
		.project__status {
			color: $highlight-color_1;
			font-style: italic;
			text-align: right;
			margin: 0;
		}
		.project__social {
			text-align: right;
			list-style-type: none;
			li {
				display: inline;
				padding-left: 1rem;
			}
		}
		.project__tags {
			color: $highlight-color_3;
			list-style-type: none;
			margin: 0;
			margin-bottom: 1rem;

			li {
				border: 1px $highlight-color_3 solid;
				border-radius: 10%;
				display: inline-block;
				margin-right: 1rem;
				padding: 0 0.5rem;
			}

			a {
				color: inherit;
				&:active, &:hover {
					color: white;
				}
			}
		}
	}

	.visit-button {
		background-color: $highlight-color_1;
		border-radius: 4px;
		color: $bg-color;
		display: inline-block;
		margin-bottom: 1rem;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	.visit-button__wrap {
		display: block;
		text-align: center;
	}

	.hex_container {
		.hexagon__inner {
			background: $highlight-color_2;
		}

		.hexagon:hover, .hexagon__inner:hover {
			background: $highlight-color_3;
		}
	}
}