@import '../styles/master';

.project-page {

	.project {
		.project__title {
			margin-bottom: 0;
			text-align: left;
		}
		.project__status {
			span {
				color: $highlight-color_1;
				font-style: italic;		
			}
			text-align: left;
			margin: 0;
		}
		.project__social {
			text-align: left;
			list-style-type: none;
			margin: 0;
			li {
				display: inline;
				padding-right: 1rem;
				margin: 0;
			}
		}
		.project__tags {
			color: $highlight-color_3;
			list-style-type: none;
			margin: 0;
			margin-bottom: 1rem;

			li {
				border: 1px $highlight-color_3 solid;
				border-radius: 10%;
				display: inline-block;
				margin-right: 1rem;
				padding: 0 0.5rem;
			}

			a {
				color: inherit;
				&:active, &:hover {
					color: white;
				}
			}
		}
		.project__header-image {
			margin-top: 1em;
			max-height: 50vh;
		}

		img {
			display: block;
			margin: 0;
			margin-left: auto;
			margin-right: auto;
		}
	}

	blockquote {
		color: $highlight-color_1;
		text-align: center;
		font-size: 1.13em;
		font-style: italic;
	}

	.visit-button {
		background-color: $highlight-color_1;
		border-radius: 4px;
		color: $bg-color;
		display: inline-block;
		margin-bottom: 1rem;
		margin-left: auto;
		margin-right: auto;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	.visit-button__wrap {
		display: block;
		text-align: center;
	}
}