@import 'master';

.blog-page {

	.highlight {
		color: $main-hi-color;
	}

	.post-preview {
		display: block;

		.post__inner {
			border-left-color: $main-hi-color;
		}

		.post__title {
			color: $main-hi-color;
		}

		.post__date {
			color: $main-hi-color;
		}
	}

	.post-preview:hover {
		.post__title {
			color: $main-hi-color;
		}
		.post__inner {
			border-left-color: $main-hi-color;
		}
	}
}