@import 'colors';

.blog-page {

	$bgcolor: #EAE0D5;

	.highlight {
		color: $highlight-color_3;
	}

	.post-preview {

		.post__inner {
			border-left-color: $highlight-color_2;
		}

		.post__title {
			color: $highlight-color_2;
		}

		.post__date {
			color: $highlight-color_3;
		}
	}

	.post-preview:hover {
		.post__title {
			color: $highlight-color_3;
		}
		.post__inner {
			border-left-color: $highlight-color_3;
		}
	}

	.hex_container {
		.hexagon__inner {
			background: $highlight-color_2;
		}

		.hexagon:hover, .hexagon__inner:hover {
			background: $highlight-color_3;
		}
	}
}