$bg-color: #073B4C;

$text-color: #FFEED0;

$highlight-color_1: orange;
$highlight-color_2: #0093CF;
$highlight-color_3: #A8DADC;
$highlight-color_4: #FF3646;
$highlight-color_5: #EF476F;

$hex_color: $highlight-color_3;
$hex_highlight: $highlight-color_4;