@import 'master';

$showcase-heading-font: "anka-coder";


.index-page {

	.logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-bottom: 1rem;
		height: 10rem;
	}

	.header {
		display: block;
		color: $main-hi-color;
		font-family: 'Damion', monospace;
		font-size: 5rem;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
	}

	blockquote {
		background-color: #0002;
		border: 3px $main-hi-color dashed;
		border-radius: 10px;
		font-style: italic;
		padding: 1rem;
		text-align: center;
	}

	.showcase {
		display: flex;
		justify-content: space-between;
		flex-direction: column-reverse;

		@include bp(med) {
			align-items: stretch;
			flex-direction: row;
		}

		width: 100%;
	}

	.showcase__section-title {
		font-family: $showcase-heading-font;
		font-size: 1rem;
		font-style: italic;
		padding: 0;
		margin: 0;
	}
	.showcase__section-name {
		font-family: $showcase-heading-font;
		padding: 0;
		margin: 0;
	}

	.latest-post {
		width: 100%;

		@include bp(med) {
			flex-grow: 3;
			margin-right: 2rem;
			width: 75%;
		}

		.post__date {
			font-family: $showcase-heading-font;
		}
	}

	.featured-project {

		width: 100%;

		@include bp(small) {
			border-bottom: 2px solid #0003;
			margin-bottom: 1rem;
		}

		@include bp(med) {
			flex-grow: 1;

			border-left: 2px solid #0003;
			padding-left: 1rem;
			width: 25%;
		}


		.project__preview {
			margin-top: 1rem;
			border-radius: 1rem;
			transition: all 150ms;

			&:active, &:hover {
				background-color: #FFF1;
				box-shadow: 0 0 8px #FFF1;
				transform: scale(1.05);
				border: 2px $main-hi-color solid;
			}
		}
	}
}