.index-page {

	$background-color: #073B4C;
	// $background-color: #0096CC;
	$highlight-color: orange;	

	background-color: $background-color;

	content {
		background-color: $background-color;
	}

	.logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-bottom: 1rem;
		height: 10rem;
	}

	.wordmark {
		display: block;
		font-family: 'Damion', 'Inconsolata', monospace;
		font-size: 3rem;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	blockquote {
		background-color: #0002;
		border: 3px $highlight-color dashed;
		font-style: italic;
		padding: 1rem;
		text-align: center;
	}

	.latest-posts {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.post-preview {
		border-left: 2px $highlight-color solid;
		
		padding-left: 0.5rem;
		margin-bottom: 2rem;
		width: 45%;

		color: inherit;
		text-decoration: none;

		h4 {
			font-weight: normal;
			margin-bottom: 0.75rem;
		}

		p {
			margin: 0;
		}

		.highlight {
			color: $highlight-color;
			font-weight: bold;
		}

		transition: all 200ms;
	}
	.post-preview:hover {
		background-color: #FFF1;
		border-left: 5px $highlight-color solid;
	}

	// tweak hex
	@import "../components/hexagon.scss";

	.hex_container {
		background-color: $background-color;
	}
}

