@import 'master';


.index-page {

	.logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		margin-bottom: 1rem;
		height: 10rem;
	}

	.header {
		display: block;
		font-family: 'Damion', 'Inconsolata', monospace;
		font-size: 3rem;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
	}

	blockquote {
		background-color: #0002;
		border: 3px $highlight-color_1 dashed;
		border-radius: 10px;
		font-style: italic;
		padding: 1rem;
		text-align: center;
	}

	.latest-posts {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.highlight {
			color: $highlight-color_2;
		}
	}

	.post-preview {

		@include bp(large) {
			width: 45%;			
		}

		.post__inner {
			border-left-color: $highlight-color_2;
			overflow-y: hidden;

			@include bp(large) {
				height: 10rem;
			}
		}

		.post__date {
			color: $highlight-color_3;
		}
	}
}

