$content-margin: 20vw;

body {
	background-color: #292929;
	color: white;
}

.page {
	height: 100vh;
}

content {
	align-items: center;

	float: right;

	min-height: 100vh;

	pointer-events: none; // so this can be full width but not swallow hover
	position: relative;

	width: 55%;

	.content__wrapper {
		pointer-events: all;

		padding: 1rem;
		min-height: 100vh;
	}

	.content__header {
		font-family: 'Damion';
		font-size: 3rem;
		margin: 0;
		margin-bottom: 2px;
	}

	.content__subheader {
		color: #FF8C00;
		padding-left: 1rem;
		margin: 0;
	}
}

.sidebar {

	display: flex;
	flex-align: center;
	float: left;
	pointer-events: none;
	position: relative;
	width: 45%;


	nav {
		$nav-size: 480px;


		border-radius: 50%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 10%;
		height: $nav-size;
		width: $nav-size;

		* {
			pointer-events: all;
		}

		.pic {
			display: block;
			margin-left: auto;
			margin-right: auto;
			height: 40%;
			width: 40%;
		}

		a { 
			display: block;
			color: inherit;
			padding-left: 1rem;
			padding-right: 1rem;
			text-align: center;
			text-decoration: none;
		}

		a:hover {
			background-color: #FF8C00;
		}
	}

}