body {
	background-color: #292929;
	color: white;
}

.page {
	height: 100vh;
}

content {
	background-color: #292929;
	float: right;

	min-height: 100vh;

	pointer-events: none; // so this can be full width but not swallow hover
	position: relative;

	width: 60%;

	.content__wrapper {
		pointer-events: all;

		padding: 1rem;
		padding-top: 10%;
		min-height: 100vh;

		width: 90%;
	}

	.content__header {
		font-family: 'Damion';
		font-size: 3rem;
		margin: 0;
		margin-bottom: 2px;
	}

	.content__subheader {
		color: #FF8C00;
		padding-left: 1rem;
		margin: 0;
	}
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: center;

	float: left;
	pointer-events: none;
	position: relative;
	height: 100%;
	width: 40%;


	nav {
		// TODO add media queries to adjust nav size
		$nav-size: 420px;

	    background-attachment: absolute;
		background-image: url("https://pbs.twimg.com/profile_images/735807070163865600/pRoqJBXP_400x400.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		border-radius: 50%;
		box-shadow: 0 0 20px #0008;
		display: block;
		height: $nav-size;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		position: relative;
		width: $nav-size;

		* {
			pointer-events: all;
		}

		.nav__split {
			background: #000C;
			float: right;
			height: 100%;
			padding-top: 20%;
			width: 50%;
		}

		.nav__header, .nav__links {
			a { 
				color: inherit;
				display: block;
				font-style: italic;
				padding-left: 1rem;
				text-decoration: none;
				transition: all 200ms ease-out;
			}
			a:hover {
				background-color: #FF8C00;
			}
		}

		.nav__header {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 100%;

			h1 {
				font-family: 'Damion';
				margin: 0;
			}
		}

		.nav__subheader {
			color: orange;
			padding-left: 1rem;
		}

		.nav__links {
			list-style-type: none;
			margin: 0;
			padding: 0;

			a:hover {
				padding-left: 1.5rem;
				font-weight: bold;
			}

			li {
				margin: 0;
			}
		}
	}
}