@import '../styles/colors.scss';

$sidebar-width: 35%;

.topbar, .bottombar {
	position: fixed;
	left: 0;
	width: 100%;
	height: 1.5rem;
	background-color: black;
	content: ' ';
	z-index: 100;
}
.topbar {
	top: 0;
	color: white;

	:hover {
		content: '<p>Hi :)</p>';
		text-align: center;
	}
}
.bottombar {
	bottom: 0;
}

.page {
	height: 100vh;
}

content {
	background-color: $bg-color;
	float: right;

	min-height: 100vh;

	pointer-events: none; // so this can be full width but not swallow hover
	position: relative;

	width: 100% - $sidebar-width;

	.content__wrapper {
		pointer-events: all;

		padding: 1rem;
		padding-top: 10%;
		min-height: 100vh;

		width: 90%;
	}

	.content__header {
		font-family: 'Damion';
		font-size: 3rem;
		margin: 0;
		margin-bottom: 2px;
		text-align: center;
	}

	.content__subheader {
		color: $highlight-color_1;
		margin: 0;
		margin-bottom: 1rem;
		text-align: center;
	}
}

.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: center;

	float: left;
	pointer-events: none;
	position: fixed;
	height: 100%;
	width: $sidebar-width;

	nav {
		// TODO add media queries to adjust nav size
		$nav-size: 380px;
		$nav-pad: 1.5rem;

	    background-attachment: absolute;
		background-image: url("../data/img/img_shelsoloa__logo.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		border-radius: 10%;
		box-shadow: 0 0 20px #0008;
		display: block;
		height: $nav-size;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		width: $nav-size;

		* {
			pointer-events: all;
			margin: 0;
		}

		.nav__split {
			background: #000C;
			float: right;
			height: 100%;
			padding-top: 15%;
			width: 45%;
			transition: all 200ms;
		}
		.nav__split:hover {
			width: 55%;
		}

		.nav__header, .nav__links {
			a { 
				color: inherit;
				display: block;
				font-style: italic;
				padding-left: $nav-pad;
				text-decoration: none;
				transition: all 200ms ease-out;
			}
			a:hover {
				background-color: $highlight-color_1;
			}
		}

		.nav__header h1 {
			font-family: 'Damion';
			margin-left: -0.2rem;
		}

		.nav__subheader {
			color: $highlight-color_1;
			padding-left: 1rem;
		}

		.nav__social {
			color: $highlight-color_2;
			display: flex;
			list-style-type: none;
			padding-left: $nav-pad;
			padding-right: $nav-pad;
			margin-top: 1rem;
			justify-content: space-between;
			width: 100%;


			li {
				display: inline;
				margin: 0;
			}

			a {
				color: inherit;
				font-size: 1.25rem;
				margin: 0;
			}

			a:hover {
				color: $highlight-color_1;
			}
		}

		.nav__links {
			list-style-type: none;
			margin-top: 1rem;

			a:hover {
				padding-left: 2rem;
				font-weight: bold;
			}

			li {
				margin: 0;
			}
		}
	}
}