@import '../styles/master';

$sidebar-width: 20%;

.page {
	position: relative;
}

content {
	position: relative;

	@include bp(med) {
		float: right;
		min-height: 100vh;
		width: 100% - $sidebar-width;
	}

	.content__wrapper {
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding: 1rem;
		pointer-events: all;

		width: 100%;

		@include bp(small) {
			min-height: 80vh;
		}

		@include bp(med) {
			margin: 0;
			margin-left: auto;
			margin-right: auto;
			min-height: 100vh;
			padding-top: 3rem;
			width: 90%;
		}
	}

	.content__header {
		font-family: 'Damion';
		font-size: 3rem;
		margin: 0;
		margin-bottom: 2px;
		text-align: center;
	}

	.content__subheader {
		color: $main-hi-color;
		margin: 0;
		margin-bottom: 1rem;
		text-align: center;
	}
}

.footer {
	background-color: black;
	position: relative;
	width: 100%;
	height: 6rem;
	overflow: hidden;

	padding-top: 1rem;
	text-align: center;

	* {
		margin: 0;
		padding: 0;
	}
	a {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.sidebar {
	pointer-events: none;
	position: relative;
	display: block;
	background-color: $nav-bg-color;

	hr {
		background-color: $main-hi-color;
		width: 80%;
		margin: auto;
		height: 0.25rem;

		@include bp(small) {
			display: none;
		}
	}

	@include bp(small) {
		min-height: 200px; 
		height: 20vh;
		width: 100%;
		border-bottom: 0.25rem solid $brown-1;
		margin: 0;
		padding: 0;
	}

	@include bp(med) {
		float: left;
		height: 100%;
		position: fixed;
		width: $sidebar-width;
	}

	// Add a sidebar wrapper so we can align these to the left and create a
	// different background for the two of them.
	.sidebar__wrapper {
		position: absolute;
		height: 100%;
		width: 100%;
	}

	.sidebar__image {
		display: flex;
		align-items: flex-end;

		height: 100%;
		padding-bottom: 1rem;

		@include bp(small) {
			float: left;
			width: 30%;
			padding-top: 1rem;
		}

		@include bp(med) {
			height: 25%;
			max-width: 95%;
			margin-left: auto;
			margin-right: auto;
		}

		img {
			display: block;
			max-height: 100%;
			max-width: 100%;
			margin: 0;
			margin-left: auto;
			margin-right: auto;

			@include bp(med) {
				display: block;
				margin-left: auto;
				margin-right: auto;
				max-height: 90%;
			}
		}
	}

	nav {
		$nav-pad: 20%;

		clear: both;
		background-color: $nav-bg-color;
		color: $nav-text-color;
		position: relative;
		padding-top: 1rem;

		@include bp(small) {
			background-color: rgba(black, .5);
			display: inline-block;
			height: 100%;
			width: 65%;
			margin-left: 5%;
		}

		@include bp(med) {
			display: block;
			height: 75%;
			width: 100%;
		}

		* {
			pointer-events: all;
			margin: 0;
		}

		.nav__header {
			font-family: 'Damion';
			text-align: center;
			@include bp(small) {
				padding-top: 0.5rem;
			}
		}

		.nav__social {
			display: flex;
			justify-content: space-between;
			list-style-type: none;
			padding-bottom: 1rem;
			padding-left: $nav-pad;
			padding-right: $nav-pad;

			width: 100%;

			// @include bp(med) {
				position: absolute;
				bottom: 0;
			// }

			li {
				display: inline;
				margin: 0;
			}

			a {
				color: inherit;
				font-size: 1rem;
				margin: 0;

				@include bp(med) {
					font-size: 2rem;
				}

				&:hover {
					color: $nav-hi-color;
				}
			}
		}

		.nav__links {
			list-style-type: none;

			font-family: 'anka-coder';
			font-weight: bold;

			@include bp(small) {
				text-align: center;
				font-size: 1rem;

				// li {
				// 	display: inline-block;
				// 	width: 50%;
				// }
			}

			@include bp(med) {
				font-size: 2vw;
				padding-top: 0.5rem;

				li {
					display: block;
					width: 100%;
				}
			}

			a {
				color: inherit;
				display: block;
				width: 100%;

				@include bp(med) {
					padding-left: $nav-pad;
					padding-right: $nav-pad;
				}

				&:active {
					color: $nav-bg-color;
				}
				&:hover {
					background-color: $nav-hi-color;
				}
			}
		}
	}
}