@import '../styles/colors.scss';

$sidebar-width: 35%;

// Where to break the screen between the small, medium, and large layouts
$break-small: 600px;
$break-large: 1080px;

@media screen and (min-width: $break-large) {
	.topbar, .bottombar {
		position: fixed;
		left: 0;
		width: 100%;
		height: 1.5rem;
		background-color: black;
		content: ' ';
		z-index: 100;
	}
	.topbar {
		top: 0;
	}
	.bottombar {
		bottom: 0;
	}	
}

.page {
	position: relative;
}

content {
	background-color: $bg-color;

	pointer-events: none; // so this can be full width but not swallow hover
	position: relative;

	@media screen and (min-width: $break-large) {
		float: right;
		min-height: 100vh;
		width: 100% - $sidebar-width;
	}

	.content__wrapper {
		background-color: $bg-color;
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding: 1rem;
		pointer-events: all;

		width: 100%;

		@media screen and (min-width: $break-large) {
			margin: 0;
			min-height: 100vh;
			padding-top: 3rem;
			width: 90%;
		}
	}

	.content__header {
		font-family: 'Damion';
		font-size: 3rem;
		margin: 0;
		margin-bottom: 2px;
		text-align: center;
	}

	.content__subheader {
		color: $highlight-color_1;
		margin: 0;
		margin-bottom: 1rem;
		text-align: center;
	}
}

.footer {
	background-color: black;
	clear: both;
	position: relative;
	width: 100%;
	height: 6rem;
	overflow: hidden;

	padding-top: 1rem;
	text-align: center;

	* {
		margin: 0;
		padding: 0;
	}
	a {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.sidebar {
	pointer-events: none;
	position: relative;

	@media screen and (min-width: $break-large) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		float: left;
		height: 100%;
		position: fixed;
		width: $sidebar-width;
	}	

	nav {
		$nav-size: 380px;
		$nav-pad: 1.5rem;

	    background-attachment: absolute;
		background-image: url("../data/img/img_shelsoloa__logo.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		box-shadow: 0 0 20px #0008;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;

		@media screen and (min-width: $break-large) {
			border-radius: 10%;
			height: $nav-size;
			width: $nav-size;
		}

		* {
			pointer-events: all;
			margin: 0;
		}

		.nav__split {
			background: #000C;
			padding-top: 1rem;
			transition: all 200ms;

			@media screen and (min-width: $break-large) {
				float: right;
				padding-top: 15%;
				height: 100%;
				width: 45%;
			}
		}
		.nav__split:hover {
			@media screen and (min-width: $break-large) {
				width: 55%;
			}
		}

		.nav__header, .nav__links {
			a { 
				color: inherit;
				display: block;
				font-style: italic;
				text-align: center;
				text-decoration: none;
				transition: all 200ms ease-out;
			}
			a:hover {
				background-color: $highlight-color_1;
			}

			@media screen and (min-width: $break-large) {
				a { 
					padding-left: $nav-pad;
					text-align: left;
				}
				a:hover {
					background-color: $highlight-color_1;
				}				
			}
		}

		.nav__header h1 {
			font-family: 'Damion';
			margin-left: -0.2rem;

			.between {
				display: none;
			}

			@media screen and (min-width: $break-large) {
				.between {
					display: inline;
				}
			}
		}

		.nav__subheader {
			color: $highlight-color_1;
			padding-left: 1rem;
		}

		.nav__social {
			color: $highlight-color_2;
			display: flex;
			list-style-type: none;
			padding-left: $nav-pad;
			padding-right: $nav-pad;
			margin-top: 1rem;
			justify-content: space-between;
			width: 100%;


			li {
				display: inline;
				margin: 0;
			}

			a {
				color: inherit;
				font-size: 1.25rem;
				margin: 0;
			}

			a:hover {
				color: $highlight-color_1;
			}
		}

		.nav__links {
			list-style-type: none;

			a:hover {
				font-weight: bold;
				@media screen and (min-width: $break-large) {
					padding-left: 2rem;
				}
			}

			li {
				margin: 0;
			}
		}
	}
}