.more-button {
	border-radius: 5%;
	color: orange;
	display: block;
	line-height: 0;
	padding: 0.25rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	text-decoration: none;
	transition: all 200ms;
	width: 4rem;

	.more-button__heading {
		margin: 0;
	}

	.more-button__icon {
		font-size: 2rem;
	}
}

.more-button:hover {
	background-color: #FFF1;
	transform: scale(1.15);
}
