@import '../styles/master';


.projects-section {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.project-preview {
	background-color: #0001;
	border: 2px $main-hi-color solid;
	border-radius: 5%;
	box-shadow: 0 0 8px #0008;
	color: inherit;
	display: inline-block;
	overflow: hidden;
	padding-bottom: 1rem;
	text-decoration: none;
	transition: all 150ms;
	margin-bottom: 1rem;

	width: 45%;
	margin-left: 2.5%;
	margin-right: 2.5%;

	@include bp(med) {
		width: 30%;
		margin-left: auto;
		margin-right:auto;
	}

	&:active, &:hover {
		background-color: #FFF1;
		box-shadow: 0 0 8px #FFF1;
		transform: scale(1.05);
	}

	img {
		// TODO force 1:1 aspect ratio
		
		background-color: black;
		display: block;
		margin: 0;
		margin-bottom: 1rem;
		width: 100%;
		height: 200px;
	}

	hr {
		margin: 0;
	}

	.preview__description, .preview__title {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.preview__title {
		margin: 0;
		padding: 0;
		text-align: center;
	}

	.preview__description {
		font-size: 0.8rem;
		margin: 0;
		padding: 0;
		text-align: center;
	}
}
